@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #222831;  /* Background utama */
  --secondary-bg: #393E46; /* Navbar & Footer */
  --accent: #00ADB5;       /* Warna aksen (link, tombol, dll.) */
  --text-primary: #EEEEEE; /* Warna teks utama */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg) ;
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Mode gelap */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #0a0a0a;
    --text-primary: #ededed;
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
